@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

// Variables personalizadas
// Clases extras
// Bulma Style
@import "../node_modules/bulma/bulma.sass";

body {
    font-family: 'Baloo Bhaina', cursive;
}

// Para el Banner
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.image-back {
    position: absolute;
    left: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    object-fit: fill;
    z-index: 1;
}

.text-overlay {
    z-index: 2;
}